<div class="container">

<nav ngbNav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Shoutbox</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li ngbNavItem class="nav-item active">
        <a ngbNavLink class="nav-link" routerLink="/shoutbox">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>

    <div ngbDropdown class="d-inline-block" style="margin-left: 10px">
      <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
        {{ user?.profile.first_name || 'Unknown Name' }}
        {{ user?.profile.last_name || '' }}
      </button>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <a class="dropdown-item" routerLink="/user/logout">Logout</a>
        </div>
    </div>
  </div>
</nav>

</div>

<router-outlet></router-outlet>